# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# Build / packaging
build/
dist/
*.egg-info/
.eggs/

# IDE
.vscode/
.idea/

# Data outputs
*.npz
*.h5

# OS files (macOS)
.DS_Store

# Logs
*.log

# Pytest cache
.pytest_cache/

# Jupyter (if you ever use it)
.ipynb_checkpoints/